/* wdbPlus: basic element layout
 * created: 2018-02-06
 * creator: DK - Dario Kampkaspar <dario.kampkaspar@oeaw.ac.at>
 * sources: https://github.com/dariok/wdbplus */

/** --- Links --- **/
a{
	color: #098AB2;
	text-decoration: none;
}
a.upRef {
	float: right;
	font-style: normal;
}

/* Hervorheben von Sprungzielen */
:target {
	background-color: #FFEF19;
}

/** --- Apparat --- **/
/* Container */
div.footnotes {
	font-size: 0.9em;
	line-height: 1em;
	text-align: justify;
	margin-bottom: 1.5mm
}

#kritApp, #FußnotenApparat {
    width: 100%;
}
/* Fußnotenlinie ausschalten, falls keine Anmerkungen vorhanden */
hr.fnRule:only-child {
	display: none;
}
/* Fußnotennummer im Text */
a.fn_number {
	font-size: 0.7em;
	vertical-align: super;
	line-height: 0;					/* verhindert, daß die umliegende Zeile höher wird */
}
/* Fußnotennummer im Apparat */
.fn_number_app {
	color: #098AB2;
	display: block;
	float: left;
	position: relative;
}
/* Fußnotentext im Apparat */
span.footnoteText{
	display: block;
	text-align: justify;
}

#FußnotenApparat + hr {
	height: 1px;
	margin: 1em 0 1em 0;
}

/** --- fremdsprachliche Teile --- **/
[lang=grc], [lang=he] {
	font-family: calibri;
}

/** --- Überschriften --- **/

p.editors {
	text-align: center;
	margin-bottom: 2em;
	margin-top: 0;
}
/* Überschrift von Abschnitten */
h3 {
	font-style: italic;
	font-size: 1em;
	text-align: center;
	margin-top: 0.75em;
	color: #900129;
	width: 100%;
}

/* Spezialbereich rechts */
/* #rightSide {
	/* flex wegen toggle-div */
	display: flex;
	/*width: 46%;*/
	width: calc(50% - 3em);
	/*height: 98%;*/
	height: calc(100% - 150px);
	position: fixed;
	right: 2.5em;
	background-color:white;
}*/

/* eingeblendete Informationen, Fußnoten etc. */
.info {
	background-color: yellow;
	border: 1px solid;
	position: fixed;
	top: 150px;
	right: 2.5em;
	max-height: calc(100% - 300px);
	display: none;
}


/* Work-in-progress oder Versionshinweise etc. */
#wip {
	background-color: #EEE;
	border: 1px solid black;
	font-size: 11pt;
	text-align: center;
	margin-bottom: 2em;
}

/* Footer */
/* an navigator2.css angepaßt; 2016-07-20 DK */
.footer {
	/* Breite 100%, da nur innerhalb content / rightSide; 2016-11-02 DK */
	width: calc(100% - 2em);
	background-color: #EEE;
	/* margin: 1em 0.5em 1em 0.5em; */
	padding: 0.2em;
	font-size: 0.7em
}

/** --- Tabellen --- **/
table {
	border-collapse: collapse;
	padding: 1px;
}
/* border immer weitergeben; 2016-08-16 DK */
tbody {
	border: inherit;
}
tr {
	border: inherit;
}
td {
	border: inherit;
	padding: 0.2em;
}
th {
	background-color: #EEE;
	font-weight: bold;
	text-align: center;
	padding: 0.2em;
	border: 1px solid;
	border-top: 0;
	border-color: white;
	border-bottom: 0;
}
table.firstColumnLabel td:first-child {
	font-weight: bold;
	text-align: center;
	border-left: 0;
	background-color: #EEE;
	border-color: white;
	border-right-color: black;
}

/* rahmenlose Tabelle; 2016-08-17 DK */
table.noborder {
	border: 0;
}
table.noborder td {
	border: inherit;
	vertical-align: top;
}
table.noborder ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 15pt;
}

/** --- Hover-Boxen für Fußnoten etc --- **/
/* Style des Inhalts wird durch das Kopieren aus dem Apparat übernommen */
span.infoContainer {
	display: block;
	text-align: justify;
	font-size: small;
	position: absolute;
	border: 1px solid;
	background-color: rgb(238,238,238);
	color: black;
	z-index: 1;
	font-weight: normal;
	padding-left: 5px;
	padding-right: 5px;
}

/** --- Fußbereich --- **/
/* CreativeCommons-Angabe */
div.ccsec {
	min-height: 18px;
	width: 50%;
	font-weight: 600;
	text-align: right;
	margin-top: 1em;
}
img.ccimg {
	width: 50px;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}

/** --- Hoch- und Tiefgestelles --- **/
.subscript {
	vertical-align: sub;
	line-height: 0px;
	font-size: 0.7em;
}
.superscript {					/* identisch a.fn_number */
	vertical-align: super;
	line-height: 0px;
	font-size: 0.7em;
}

/* cit */
.blockquote {
	padding-left: 3em;
	padding-right: 3em;
	display: inline-block;
	text-indent: 0;
}
p.content {
	padding-right: 0.2em; /* damit kursiver Text vollständig angezeigt wird */
	margin-top: 0.4em;		/* 2x neu, überschreibt Browser-Voreinstellungen; 2016-07-12 DK */
	margin-bottom: 0.4em;
}
p.content + p.content {
	text-indent: 1em;
}

/* Originalschreibung; 2016-07-11 DK */
span.orig {
	font-style: normal;
}

/* Autoren in Kapitälchen; 2016-07-11 DK */
span.nameSC {
	font-variant: small-caps;
}

/* Hebr. Text auch in Junicode */
span[lang=he] {
	font-family: mufi;
}

/* Pfeil zum Ein-/Ausblenden von #rightSide; 2017-10-10 DK */
/* So wird vertikal zentriert */
#rDis {
	width: 0.5em;
	height: 100%;
	display: table;
}
#rDis a {
	display: table-cell;
	vertical-align: middle;
}

#auth form {
	display: inline-block;
}
/* Parallelansicht */
#ann {
	z-index: 1;
	position: fixed;
	background-color: white;
	padding-right: 2.5em;
}

.start {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 100%;
	overflow-y: auto;
}