/* wdbPlus: basic element layout
 * created: 2018-06-29
 * creator: DK - Dario Kampkaspar <dario.kampkaspar@oeaw.ac.at>
 *          DK - Dario Kampkaspar <dario.kampkaspar@tu-darmstadt.de>
 * sources: https://github.com/dariok/wdbplus
 * 
 * 2021-04-02 DK: Adjust class names to be in English only and use camelCase */
 
/** --- Apparatus --- **/
/* Container */
div.footnotes {
  text-align: justify;
  display: table-row;
}

#apparatus {
  width: 100%;
}

/* footnote number within the main text */
.fnNumber {
  font-size: 0.9em;
  vertical-align: super;
  line-height: 0;
}

/* footnote number within apparatus */
.footnotes .fnNumber, .ann .fnNumber {
  color: #098AB2;
  display: table-cell;
  padding-right: 0.3rem;
}

/* footnote text */
.footnoteText{
  display: table-cell;
}

/* footnote rule */
#apparatus + hr {
  height: 1px;
  margin: 1em 0 1em 0;
}
/* show footnote line only if notes are actually present */
hr.fnRule:only-child {
  display: none;
}

/* footnotes or other info displayed to the right or floating */
.infoContainer {
  background-color: white;
  padding: 0 5px 0 5px;
}
.floating {
  border: 1px solid lightgrey;
}
