/* wdbplus: CSS for function pages (e.g. start.html, search.html, query.html
 * created: way back
 * creator: DK Dario Kampkaspar <dario.kampkaspar@ulb.tu-darmstadt.de>
 * sources: https://github.com/dariok/wdbplus */

body {
  grid-template-columns: 3fr 7fr;
}
h1 {
  width: 100%;
  text-align: center;
}

aside {
  grid-area: left;
  
/*  width: calc(20% - 2.5px);*/
  padding-right: 5px;
}

aside h1, aside h2 {
  font-family: sans-serif;
}
aside h1 {
  font-size: 1.3em;
}

main {
  grid-area: right;
  
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
main h1, main h2 {
  font-family: sans-serif;
  width: 100%;
  text-align: center;
}
main div {
  flex-grow: 1;
}

header a {
  font-family: sans-serif;
}