/* layout of function pages (e.g. start.html, search.html, query.hmtl */
body {
  grid-template-columns: 3fr 7fr;
}
h1 {
  width: 100%;
  text-align: center;
}

aside {
  grid-area: left;
  
/*  width: calc(20% - 2.5px);*/
  padding-right: 5px;
}

aside h1, aside h2 {
  font-family: sans-serif;
}
aside h1 {
  font-size: 1.3em;
}

main {
  grid-area: right;
  
  /*width: calc(80% - 2.5px);*/
  overflow-y: auto;
}
main h1, main h2 {
  font-family: sans-serif;
  width: 100%;
  text-align: center;
}

header a {
  font-family: sans-serif;
}