/* Karlstadt: Introduction */
/* basierend auf Vorarbeiten erstellt 2016-05-23 */
/* DK - Dario Kampkaspar <kampkaspar@hab.de> */

@import "common.css";

/** --- Überschriften --- **/
/* kleine Überschriften in der Überlieferung */
h4 {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0;
}
div.exemplar + h4 {
	margin-top: 0;
}
h5 {
	display: inline;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0;
	font-size: 1em;
}

/** --- Tabellen --- **/
td {
	border: 1px solid #000;
	vertical-align: top;
}

/** --- Anmerkungsapparat --- **/
/* Fußnotennummer im Apparat*/
.fn_number_app {
	width: 1.5em;
}
span.footnoteText{
	padding-left: 1.5em;
}

/** --- Langzitate --- **/
span.blockquote{
	line-height:1.1em;
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/** --- Angaben zu Druck und Handschrift --- **/
span.siglum {
	display: inline-block;
	width: 4.5em;
	vertical-align: top;
	text-indent: 0;				/* für den hängenden Einzug */
}
div.exemplar {
	margin-top: 0;
	padding-left: 4.5em;
	text-indent: -4.5em;
	margin-bottom: 0.5em;
}
ul.lit {
	display: inline;
	list-style: none;
	padding-left: 0;
}
ul.lit li {
	display: inline;
}
ul.lit li + li:before {
	content: " — ";
}

/** --- generelle Listen --- **/
dt {
	float: left;
	clear: left;
}

/** Zitate in Einleitung immer mit Anführungszeichen; 2016-07-11 DK **/
q {
	quotes: "»" "«" "›" "‹";
}
/* Schriftsatz für Anführungszeichen explizit, damit bei fremdspr. Texten nicht die aus Calibri genommen werden */
q:before {
	content: open-quote;
	font-family: mufi;
}
q:after {
	content: close-quote;
	font-family: mufi;
}