/* wdbPlus: main CSS
 * created: 2018-02-06
 * creator: DK Dario Kampkaspar <dario.kampkaspar@oeaw.ac.at>
 * sources: https://www.github.com/dariok/wdbplus */
 
@font-face {
	font-family:'mufi'; 
	src: url('Junicode.woff') format('woff');
}

/* Main layout: wide header, rest below, each scrolling on its own */
html {
    height: 100%;
}

body {
	margin-left: 2.5em;
	margin-right: 2.5em;
	margin-top: 0;
	margin-bottom: 0;
	
	min-width: 30rem;
	height: 100%;
	max-height: 100vh;
	
	font-family: mufi;
	font-size: 1rem;
	line-height: 1.4rem;
	
	display: flex;
	flex-direction: column;
}

header {
	flex: 0 0 auto;
	background-color: white;
}

header h1 {
	font-size: 1.1em;
	text-align: center;
	letter-spacing: 0.09em;
	color: #900129;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
/* Titel des Teils (Einleitung, Text, Beilage) */
header h2 {
	letter-spacing: 0.3em;
	font-size: 1em;
	padding: 0;
	margin: 0;
	font-weight: normal;
	display: inline-block;
}

main {
	display: flex;
	flex: 1 1 auto;
	overflow-y: hidden;
}

/* Navigation */
nav {
	background-color: white;
	border: 0.1px solid;
	padding: .5em;
	overflow-y: auto;
}
header nav {
	position: fixed;
	z-index: 99;
	max-height: 75%;
}
div nav {
	min-width: 30em;
	max-height: 100%;
}

nav ul {
	margin: 0;
}
/* Nr., Titel der EE */
nav h1 {
	font-size: 1em;
	text-align: center;
	letter-spacing: 0.09em;
	color: #900129;
	margin-bottom: 0.5em;
	margin-top: 0;
}
/* Titel des Teils (Einleitung, Text, Beilage) */
nav h2 {
	letter-spacing: 0.3em;
	font-size: 1em;
	padding: 0;
	margin: 0;
	font-weight: normal;
	display: inline-block;
}
h2 + hr {
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0;
	height: 1px;
}

/* The parts with content */
/* Right side */
#wdbRight {
	background-color: white;
	overflow-y: auto;
	overflow: hidden;
	flex: 1 1 auto;
}
#fac {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
}
#facsimile {
	flex: 1 1 auto;
	width: 100%;
}

/* Show/hide bar */
#wdbShowHide {
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-top: 0;
	padding-top: 45vh;
	width: 0.5em;
}

/* Content on the left */
#wdbContent {
	overflow-y: auto;
	flex: 0 1 auto;
	display: flex;
	padding-right: .5em;
}

/* spans within header */
span.dispOpts {
	float: right;
	font-size: 0.8em;
}
