aside {
  padding: 0 1em;
}

main {
  padding: 0 1em;
}

button {
  background: inherit;
  border: 0;
  cursor: pointer;
}

.match {
  background-color: #FFEF19;
}

dd {
  display: table-row;
}
.kwic {
  display: table-cell;
  padding: .5em;
}
.kwic:first-child {
  padding-left: 2em;
  text-align: right;
}
