/* section numbering based on hierarchysectionnu */
article {
  counter-reset: section;
}

h2 {
    counter-reset: subsection;
}

h2:before {
    counter-increment: section;
    content: counter(section) ". ";
    font-weight:bold;
}

h3:before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}