/* CSS für index- und andere breite Seiten in eXist */
/* 2016-07-20 Dario Kampkaspar (DK) */

@import "common.css";

body {
    display: flex;
    flex-wrap: wrap;
    max-height: 100vh;
    overflow: hidden;
}

h1, h2 {
    width: 100%;
    text-align: center;
}

header {
    width: 100%;
    max-height: 9vh;
}

aside {
    width: calc(20% - 2.5px);
    padding-right: 5px;
}
aside div div {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
}

main {
    width: calc(80% - 2.5px);
    max-height: 90vh;
    overflow-y: auto;
}