/* global CSS for start.html */
/* 2016-07-20 Dario Kampkaspar (DK)
 * – 2023-03-02
 *   - add styling for the output of (wdbmeta.xml + start.xsl)
 *   - this include styles for a simple CSS-only slider
 */

aside div div {
  padding-bottom: 1em;
}

/* start.xqm fetches navigation via REST which return a full nav element including h2; 
 * on start.html, we dont want full styling in aside */
aside nav {
  border: 0;
  /* h2: margin-top/bottom ~ .85em; font-size ~ 1.5em */
  max-height: calc(100% - 5.5em);
  padding-left: .5em;
  position: initial;
  scrollbar-gutter: stable;
}

aside h2 {
  margin-bottom: .4em;
}
/* aside nav h2 {
  display: none;
} */

.cite {
  text-align: center;
  width: 100%;
}

main h1 {
  font-size: 2em;
  line-height: 2.25rem;
}
main h2 {
  font-size: 1.5em;
  line-height: 1.75rem;
}

p {
  hyphens: auto;
  text-align: justify;
}

p[data-role] {
  text-align: center;
  width: 100%;
}

/* 
 * This can serve as the container for an animation or just a single image
 */
.slideContainer {
  height: 40vh;
  margin: auto;
  position: relative;
  width: 400px;
}
.slideImage {
  left: 0;
  margin: auto;
  max-height: 40vh;
  max-width: 400px;
  position: absolute;
  right: 0;
}
