/* wdbPlus: CSS for view.html
 * created: 2019-04-04
 * creator: DK Dario Kampkaspar <dario.kampkaspar@oeaw.ac.at>
 * sources: https://www.github.com/dariok/wdbplus */

body {
  grid-template-columns: 1fr 1fr;
}

/* hide right side on small broser windows, e.g. mobile */
@media screen and (max-width: 768px) {
  body {
    grid-template-columns: none;
    grid-template-areas: 'header'
                         'left';
    grid-template-rows: max-content;
  }
}

/* Main content below header */
main {
  display: flex;
  grid-area: left;
  
  resize: horizontal;
  
  overflow-y: hidden;
}

/* Content on the left */
#wdbContent {
  width: calc(100% - 1.5em);
  padding-right: .5em;
  overflow-y: scroll;
  flex: 0 1 auto;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
/* no showHide, so full width on small screens */
@media screen and (max-width: 768px) {
  #wdbContent {
    width: 100%;
  }
}

footer {
  display: block;
  flex: 1 1 auto;
  
  padding: 1em;
  margin-top: 2.5em;
  
  background-color: #EEE;
}
footer span {
  display: block;
}

/* Show/hide bar */
/* This one is necessary for at least basic resizing as long as CSS resize property is not supported
 * by Edge and many versions of gnawed-at fruit crap */
#wdbShowHide {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0;
  padding-top: 45vh;
  width: 0.5em;
}
/* do not display on small screens */
@media screen and (max-width: 768px) {
  #wdbShowHide {
    display: none;
  }
}

/* right side */
aside {
  grid-area: right;
  
  overflow: initial;
}

#fac {
  height: 100%;
}

/* Spans acting as buttons to display entity information */
.entity {
  color: #098AB2;
  padding: 0;
  cursor: pointer;
}