/* wdbPlus: basic element layout – used by all pages
 * created: 2019-03-07
 * creator: DK - Dario Kampkaspar <dario.kampkaspar@oeaw.ac.at>
 * sources: https://github.com/dariok/wdbplus */

@font-face {
  font-family: 'mufi';
  src: url('Junicode.woff') format('woff');
}

a{
  color: #098AB2;
  text-decoration: none;
}

/* Main layout: wide header, rest below, each scrolling on its own */
html {
  height: 100%;
}

body {
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-top: 0;
  margin-bottom: 0;

  min-width: 30rem;
  height: 100vh;

  font-family: mufi;
  font-size: 1rem;
  line-height: 1.4rem;

  display: flex;
  flex-direction: column;
}

/* Content of the header */
header {
  flex: 0 0 auto;
  
  background-color: white;
  
  width: 100%;
  max-height: 9vh;
}

header h1 {
  font-size: 1.1em;
  text-align: center;
  letter-spacing: 0.09em;
  
  color: #900129;
  
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
/* Titel des Teils (Einleitung, Text, Beilage) */
header h2 {
  letter-spacing: 0.3em;
  font-size: 1em;
  font-weight: normal;
  
  padding: 0;
  margin: 0;
  
  display: inline-block;
}

/* spans within header */
span.dispOpts {
  float: right;
  
  font-size: 0.8em;
  font-family: sans-serif;
}
.dispOpts:before {
  content: ' [';
}
.dispOpts:after {
  content: ']';
}

/* animation during AJAX requests 
 * Taken from @Sampson, https://stackoverflow.com/questions/1964839/how-can-i-create-a-please-wait-loading-animation-using-jquery
 * Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loadingModal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8) url('../FhHRx.gif') 50% 50% no-repeat;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loadingModal {
  display: block;
}